html{
  font-size: 16px;
}
body{
  background-color: #800080;
  color: silver;
}
h1{
  text-align:center;
  background-color: hotpink;
}
img {
  width:60%;
  height:60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-style: double;
  border-color: hotpink;
  border-width: 10px;
}

#imagecaption {
  margin-top: 0px;
  text-align: center;
}

#FunFactsContainer {
  border: 3px dotted hotpink;
}

#FunFacts {
  text-align: center;
}

.TimelineList {
  padding-bottom:7px;
}

a{
  color: orange;
  text-decoration:none;

}
a:hover{
  color: limegreen;
}

#nav-list > li{
  display:flex;
  padding-left: 50px;
  list-style-type:none;
}

ul{
  display:flex;
  justify-content: center;
}
